[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
ExecStart=/usr/local/bin/node_exporter --web.listen-address=:8443
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
